name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        ##python-version: [3.8, '3.10']
        ##poetry-version: [1.1.8, 1.1.11]
        ##os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9, '3.10']
        poetry-version: [1.1.15]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.1.4
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install required dependencies
        run: poetry install --no-dev --extras "test xgboost"

      - name: View poetry deps
        run: poetry show

      - name: Run unit tests
        run: poetry run pytest
